<!DOCTYPE html>
<html>
<head>
    <title>Face Scanner</title>
</head>
<body>

<h2>Take a Photo</h2>

<video id="video" width="400" autoplay></video>
<button id="capture">Capture Photo</button>
<canvas id="canvas" width="400"></canvas>

<script>
    // Access webcam
    navigator.mediaDevices.getUserMedia({ video: true })
        .then(stream => {
            document.getElementById('video').srcObject = stream;
        });

    
    document.getElementById('capture').onclick = function () {
        const canvas = document.getElementById('canvas');
        const video = document.getElementById('video');
        const ctx = canvas.getContext('2d');

        ctx.drawImage(video, 0, 0, canvas.width, canvas.height);

        canvas.toBlob(function (blob) {
            const formData = new FormData();
            formData.append("file", blob, "photo.jpg");

            fetch("http://localhost:8000/analyze", {
                method: "POST",
                body: formData
            })
            .then(res => res.json())
            .then(data => {
                console.log("Data is here",data);
                alert(JSON.stringify(data));
            })
            .catch((err)=>{
                console.log(err);
            });
        });
    };
</script>

</body>
</html>
